<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .pgbtns{
    width: 150px;color: rgb(63, 126, 251);border: none;height: 50px;background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d,#833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d,#833ab4);
    color: #fff;
    transition:all 0.3s ease ;
  }
  .pgbtns:hover{
    background: -webkit-linear-gradient(to right, #392a16, #7b2a2a,#8c0ae3);
    background: linear-gradient(to right, #3ede1a, #fd1d1d,#a87ec4);
color: rgba(204, 252, 33, 0.937);
}
svg{
margin-left: 40px;
color:red;
}
svg:hover{
color: rgb(58, 9, 238);
}
</style>
<body style="background-color:rgb(181, 183, 144);">
    <nav class="navbar" style="background-color:rgb(12, 12, 12) ;height: 110px;margin-bottom: 0%;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle tgbtn" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation" style="background-color:rgb(130, 126, 126);">
              <span class="icon-bar" style="background-color: white;"></span>
              <span class="icon-bar" style="background-color: white;"></span>
              <span class="icon-bar" style="background-color: white;"></span>
            </button>
            <a class="navbar-brand" href="#"  style="padding:3px;"><h1 style="margin-left:70px ;font-size: 50px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(6, 110, 170);font-weight: 500;text-shadow: 2px 2px rgb(201, 218, 255);font-weight: 800;">FILE UPLOADER</h1></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" style="margin-right: 200px ;background-color:rgb(10, 10, 10) ;margin-top: 15px;">
                <li>
                <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'logout' %}"><button class=" btn btn-large pgbtns">LOG OUT</button></a>
                  </div>
                  </li>
                </ul>
          </div>
        </div>
      </nav>

<style>
    .btn:hover{
        background: rgba(239, 83, 26, 0.849);

    }
</style>

<center>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 style="font-size: 40px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(114, 36, 26);font-weight: 500;"> FILES UPLOADED</h1>
                    <h1 style="font-size: 60px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(47, 48, 48);font-weight: 800;">{{total}}</h1>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'upload' %}"><button class="btn btn-default" style="width: 200px; height:50px;margin:20px;">click here to upload file</button></a>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-sm-6">
<table class="table table-bordered table-hover" style="background-color: rgb(175, 173, 173);">
    <tr style="color: white;background-color:rgb(81, 78, 74);">
        <th>
            <h4>File type</h4>
        </th>
        <th>
            <h4>No of files</h4>
        </th>
    </tr>
    <tr>
        <td><h6>PDF</h6></td>
        <td>{{pdf}}</td>
    </tr>
    <tr>
        <td><h6>CSV</h6></td>
        <td>{{csv}}</td>
    </tr>
    <tr>
        <td><h6>TXT</h6></td>
        <td>{{txt}}</td>
    </tr>
    <tr>
        <td><h6>WORD</h6></td>
        <td>{{docx}}</td>
    </tr>
    <tr>
        <td><h6>EXCEL</h6></td>
        <td>{{excel}}</td>
    </tr>
</table>
    </div>
    <div class="col-sm-6">
<table class="table table-bordered" style="background-color: rgb(175, 173, 173);">
    <tr style="color: white;background-color:rgb(81, 78, 74);">
        <th>Username</th>
        <th>no of files Uploaded </th>
    </tr>
    {% for key,value in userlist.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>
    </div>
</div>

</div>
</center>

</body>
</html>